{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <blockquote class="blockquote text-left" id="lewis">
        <p class="mb-0">If he could make millions of dollars come out of those phones, he became that most revered of
            all species: a Big Swinging D---.</p>
        <footer class="blockquote-footer">Michael Lewis <cite title="Source Title">Liar's Poker</cite></footer>
    </blockquote>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in portfolio %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["name"] }}</td>
                <td>{{ stock["shares"] }}</td>
                <td>{{ stock["price"] | usd }}</td>
                <td>{{ (stock["shares"] * stock["price"]) | usd }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ cash | usd }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="networth">{{ networth | usd }}</td>
        </tr>
        </tbody>
    </table>
    <p class="lead">
        Stock prices reflect real-time data. NASDAQ trading hours are 9:30 a.m. to 4 p.m. Eastern time Mon-Fri.
    </p>
{% endblock %}